<h1 md-dialog-title>X דוח</h1>

<md-list style="text-align:right">

  <md-list-item>
    <h4 md-line>שם עסק: דגלחכחידלגו יכ</h4>
    <h4 md-line>שם עסק: דגלחכחידלגו יכ</h4>
    <h4 md-line>שם עסק: דגלחכחידלגו יכ</h4>
    <h4 md-line>שם עסק: דגלחכחידלגו יכ</h4>
    <h4 md-line>שם עסק: דגלחכחידלגו יכ</h4>
  </md-list-item>
<br>
<p>סיכום</p>
  <md-divider></md-divider>
    <br>

    <table class="table table-striped">
    <tr>
      <td>6343</td>
      <td>72332</td>
      <td><b>סה"כ מכירות</b></td>
    </tr>
    <tr>
      <td>6343</td>
      <td>72332</td>
      <td><b>סה"כ מע"מ</b></td>
    </tr>
</table>

<p>פירוט</p>
  <md-divider></md-divider>

  <table class="table table-striped" style="min-width:370px">
    <thead>
    <tr>
      <td><b>זיכוי</b></td>
      <td><b>חיוב</b></td>
      <td><b>צורת תשלום</b></td>
    </tr>
    </thead>
  <tbody>
        <tr>
      <td>423423.32</td>
      <td>52340</td>
      <td>מזומן</td>
    </tr>
    <tr>
      <td>63434.34</td>
      <td>7.3</td>
      <td>אשראי</td>
    </tr>
        <tr>
      <td>6.34</td>
      <td>7.3</td>
      <td>הקפה</td>
    </tr>
        <tr>
      <td>6343</td>
      <td>72332</td>
      <td>סה"כ</td>
    </tr>
  
  </tbody>
</table>


  
</md-list>


<p>הודפסה ב 5 ליולי 2302 ע"י אמיק</p>


<div md-dialog-actions>
  <button md-button md-dialog-close="Option 1">הדפסה</button>
  <button md-button md-dialog-close="Option 2">יציאה</button>
</div>
