.input-group{

    height: 30px;
    padding :10px 10px 0px 10px;
}

.input-group input{

    height: 100%;
    text-align: right;
}

input{

    text-align: right;
}

.add_button{

    margin : 0px 20px;
    position:relative;
    top : 30px;
    left: 10%; 
z-index: 20;
}

.fill-space {

  flex: 1 1 auto;
}

p{

    font-weight: bold;
}

.edit_btn{

    cursor: pointer;
    float: left;

}

.mat-card{

    cursor: pointer;
}


.mat-card:hover{

    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 5px -1px, rgba(0, 0, 0, 0.14) 0px 6px 10px 0px, rgba(0, 0, 0, 0.12) 0px 1px 18px 0px;

}